@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  display: flex;

  text-decoration: none;
}

.page {
  background-color: #111;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  position: relative;

  width: 100%;

  color: #fff;
  font-size: 16px;
  line-height: normal;

  border: 0;
  border-radius: 4px;
  background-color: #E50914;

  cursor: pointer;
}

.btn:disabled {
  background-color: #9e9e9e;

  cursor: default;
}
